.app-style {
  padding: 100px;
  display: flex;
  gap: 12px;
}

.box-style {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(255, 242, 93);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
